*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'TektonProBold';
  font-weight: 600;
  src: local('Tekton-Pro-Bold'), url(./Fonts/Tekton-Pro-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'TektonProRegular';
  font-weight: 400;
  src: local('Tekton-Regular'), url(./Fonts/Tekton-Regular.ttf) format('truetype');
}
